@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

.fromamt{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}
.fromamt label{
    font-size: 15px;
    font-family: 'Playpen Sans';
    font-weight: 500;
    color: rgb(113, 113, 113);
}
.fromamt select{
    width: 100%;
    margin-top: 10px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(191, 191, 191);
    padding-left: 10px;
    font-size: 11px;
    font-size: 12px;
    font-family: 'Playpen Sans';
    font-weight: 500;
    color: rgb(52, 51, 51);
}
.fromamt option{
    font-size: 12px;
    font-family: 'Playpen Sans';
    font-weight: 500;
    color: rgb(52, 51, 51);
}
